<!DOCTYPE html>
<html>
  <head>
    <title>RailsTaskManager</title>
    <link href="https://fonts.googleapis.com/css?family=Stylish" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="link_head">
      <div class="head">
    <%= link_to "Create new Task", new_task_path %>
    <%= link_to "Home", tasks_path %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
